.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #fff;
}

.header.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.logo {
    width: 180px;
}

.links>a {
    color: #333;
    margin-right: 20px;
    font-size: 16px;
    transition: .33s;
}

.links>a:hover {
    color: #1d89ff;
}

.links>a.active {
    color: #1d89ff;
}

.chat-with-us {
    width: 250px;
    height: 170px;
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 30;
}

.chat-with-us img {
    width: 100%;
    height: 100%;
}

.mobile-bar.fas {
    font-size: 24px;
    display: none;
}