.news-item {
    width: calc(100% / 3 - 2%);
    position: relative;
}

.news-item>img {
    width: 100%;
    height: 100%;
}

.news-info>h5 {
    font-weight: 600;
    font-size: 20px;
    color: #333;
    margin-top: 5%;
    margin-bottom: 5%;
}

.news-info>p {
    font-size: 14px;
    color: #333;
    line-height: 2;
}