.services-item {
    text-align: left;
    justify-content: space-between;
    margin-right: 80px;
}

.services-item>img {
    display: inline-block;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.services-item>h5 {
    font-weight: 600;
    font-size: 16px;
    color: #333;
    margin-top: 5%;
    margin-bottom: 5%;
}